body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }

 footer {
    bottom: 0;
    left: 0;
    right: 0;
}
footer {
    padding: 5px 0;
    position: fixed;
    background: #343439;
    width: 100%;
    color: #fff;
}
#mytable,td{
    border:1px solid blue;
}
